*{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}


/* buat manggil semua class form1-3 */
:where(.form1,.form2,.form3){
    width: 100%;
    background-color: black;
}

.form3{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.form3 > img{
    object-fit: cover;
}